<section id="goals" class="bg-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Project Goals</h2>
        <h3 class="section-subheading text-muted">Project Goals For 2016</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="goal-heading">Launch K-Motor</h4>
        <p class="text-muted">The final goal of the project is to launch an actively stabilised rocket using the class K motor. We are building to this launch by first launching a passively stabilised class D motor to gain telemetry data.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="goal-heading">Design Modular Hardware</h4>
        <p class="text-muted">As the Team Rocket project is likely to be carrie on by future teams, we aim to created highly modular hardware components. Allowing for our work to be reused by future avionics teams.</p>
      </div>
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-code fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="goal-heading">Open Source</h4>
        <p class="text-muted">All components of the system, including hardware, software and collected data will be freely available through open source. As such, we must ensure a high standard of quality for our work.</p>
      </div>
    </div>
  </div>
</section>
