<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">ENGR302 Rocket Avionics Project</div>
      <div class="intro-heading">Blasting off in 2016</div>
      <a href="#goals" class="page-scroll btn btn-xl smooth-scroll">Find Out More</a>
    </div>
  </div>
</header>
