<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right">
    <li class="hidden"><a href="#page-top"></a></li>
    <li><%= link_to 'Goals', { anchor: 'goals', class: 'page-scroll' } %></li>
    <li><%= link_to 'Timeline', { anchor: 'timeline', class: 'page-scroll' } %></li>
    <li><%= link_to 'Team', { anchor: 'team', class: 'page-scroll' } %></li>
  </ul>
</div>
