<aside class="clients bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3 class="section-subheading">Proudly Sponsored By</h3>
      </div>

      <div class="col-md-6 col-md-offset-3 col-sm-12">
        <a href="http://www.victoria.ac.nz/">
          <%= image_tag 'vic', class: 'img-responsive img-centered' %>
        </a>
      </div>
    </div>
  </div>
</aside>
