<section id="timeline" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Project Timeline</h2>
        <h3 class="section-subheading text-muted">Team Rocket's Timeline For 2016</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <%= image_tag 'paper', class: 'img-circle img-responsive' %>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>March - May</h4>
                <h4 class="subheading">Preliminary Reasearch</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">During the initial phase of the project, we completed an extensive amount of research. This allowed us to know exactly what we needed to build and how we were going to go about buildining it.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <%= image_tag 'management', class: 'img-circle img-responsive' %>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>May - June</h4>
                <h4 class="subheading">Project Management + H&S</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">At this stage, we spent a lot of time creating a rigorous set of project management documentenation, as well as an extensive health and safety plan.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <%= image_tag 'launch', class: 'img-circle img-responsive' %>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>July</h4>
                <h4 class="subheading">Initial Launch</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Team Rocket hopes to launch a class D motor, using a passively stabilised rocket. This will allow for the collection of sample telemetry data, which will be vital moving forward in the project.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <%= image_tag 'phase2', class: 'img-circle img-responsive' %>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>July - September</h4>
                <h4 class="subheading">Phase Two</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">After the initial launch, work will begin on developing a much larger, and actively stabilised rocket capable of launching a class K motor. </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <h4>Watch
                <br>This
                <br>Space !</h4>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
