<nav class="navbar navbar-default navbar-custom navbar-fixed-top affix">
  <div class="container">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        Menu <i class="fa fa-bars" aria-hidden="true"></i>
      </button>

      <a class="navbar-brand page-scroll" href="#page-top">Team Rocket VUW</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Home', root_path, { class: 'page-scroll' } %></li>
        <li><%= link_to 'Blog', '/posts', { class: 'page-scroll' } %></li>
        <% if admin_signed_in? %>
          <li><%= link_to 'new blog post', new_post_path, { class: 'page-scroll' } %></li>
          <li><%= link_to('Logout', destroy_admin_session_path, :method => :delete) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
