<!DOCTYPE html>
<html>
<head>
  <title>TeamRocketWebsite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="page-top" class="index">

<% if !current_page?('/') && !current_page?('/index') %>
  
<% end %>

<%= yield %>

<%= javascript_include_tag 'application'%>

</body>
</html>
